.dash{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.streaker,.streak-error{
  font-size: larger;
  font-weight: 400;
}

.streak-error{
  color: rgb(106, 104, 104);
  cursor: pointer;
}

.error{
  color: rgb(212, 33, 33);
}

.error-body{
  background: pink;
  border: 1.3px solid rgb(228, 43, 43);
  border-radius: 2px;
}

.dash-details{
  flex: 1;
  flex-direction: column;
}

.streak-indicator{
  justify-content: flex-end;
}

.burning{
  color: orange;
}

.location{
  position: relative;
}

.location-select{
  display: flex;
  border-bottom: 1px solid;
  cursor: pointer;
}

.location-select p{
  margin-left: 2%;
  margin-bottom: 1%;
  font-weight: 400;
  font-size: larger;
}

.location-select span{
  height: 12%;
  width: 15%;
}
