.dash{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.streaker,.streak-error{
  font-size: larger;
  font-weight: 400;
}

.streak-error{
  color: rgb(106, 104, 104);
  cursor: pointer;
}

.error{
  background: pink;
  border: 1.3px solid rgb(228, 43, 43);
  color: rgb(212, 33, 33);
  border-radius: 2px;
  width: 70%;
}

.dash-details{
  flex: 1;
  flex-direction: column;
}

.streak-indicator{
  justify-content: flex-end;
}

.icon{
  color: orange;
}

.location-select{
  display: flex;
  border-bottom: 1px solid;
  cursor: pointer;
}

.location-select p{
  margin-left: 2%;
  margin-bottom: 1%;
  font-weight: 400;
  font-size: larger;
}

.location-select span{
  margin-left: 20px;
  width: 3px;
  height: 32.7px;
  background: black;
}

.location-items{
  display: flex;
  margin-top: -2.5%;
  margin-left: 3%;
}
