<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form-parent">

  <h3 class="text-xl">Sign up</h3>

  <div class="form-wrapper"><label>Username: </label>
    <input type="text" formControlName="username" placeholder="Username" />

    <div *ngIf="formGroup.get('username')?.errors" class="errors">Username is required</div>
  </div>

  <div class="form-wrapper"><label>Password: </label>
    <input type="password" formControlName="password" placeholder="Password" />
    <div *ngIf="formGroup.get('password')?.errors" class="errors">Password is not strong enough</div>
  </div>


  <button class="button" [disabled]="formGroup.status === 'INVALID'">{{response ? '. . .' : 'Sign up'}}</button>
  <div *ngIf="response?.error">{{response?.error}}</div>
  <a routerLink="/login">Already have an account? </a>
</form>


<router-outlet></router-outlet>
